#heading {
    border: 5px dotted whitesmoke;
    text-align: center;
    font-stretch: ultra-expanded;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* make background color dynamic in the future depending on tasks overdue */
    background-color: green;
}
#middle {
    /* make border color dynamic in the future depending on tasks overdue */
    border: 5px dotted green;
    font-stretch: expanded;
    font-family: sans-serif;
    background-color:yellow;    
}
#bottom {
    /* make background color dynamic in the future depending on tasks overdue */
    border: 5px dotted green;
}

#remindMe{
    font-size: 24px;
    width: 40%;
    margin-left: 30%;
    margin-right: 40%;
    border-radius: 8px;
    border: 2px solid black;    
    background-color: green;
    box-shadow: 2px 2px 2px 2px;
}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
  }
input[type=datetime-local]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
}

th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 2px double darkblue;
    border-right: 2px double darkblue;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 100%;
    height: 100%;

}